/* style/modal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    font-family: 'poppins', sans-serif;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow-y: auto;
    max-height: 450px;
    height: 100%;
    padding-bottom: 80px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
    outline: none;
}

.closeButton:hover{
    color: #d9534f;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.modalTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.detailTable {
    width: 100%;
    border-collapse: collapse;
}

.detailTable th, .detailTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.detailTable th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.detailTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.detailTable tr:hover {
    background-color: #f1f1f1;
}

.searchBar {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

.searchInput {
    padding: 8px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}
