/* style/pelanggan/pelangganDetail.module.css */
.main { 
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    margin-left: 200px;
    height: auto;
}

.pageTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
}

.separator {
    margin: 20px 0;
    border: 1px solid #e0e0e0;
}

.detailPelangganTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
    color: #375BB2;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.detailRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.label {
    font-weight: bold;
    color: #1d2c3a;
    font-size: 16px;
    flex-basis: 20%;
}

.detailBox {
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    font-size: 16px;
    color: #333;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.backButton {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    color: #fff;
    background-color: #375BB2;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.backButton:hover {
    background-color: #1c3853;
}
