.main {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    margin-left: 200px;
    height: auto;
}

.pageTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
}

.separator {
    margin: 20px 0;
    border: 1px solid #e0e0e0;
}

/* Judul untuk form tambah pelanggan */
.tambahPelangganTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
    color: #375BB2;
}

.editPelangganTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
    color: #375BB2;
}

/* Menggunakan flexbox untuk menyusun label dan input secara horizontal */
.inputContainer {
    display: flex;
    align-items: center;  /* Menyelaraskan vertikal */
    justify-content: space-between;  /* Memberi jarak antara label dan input */
    margin-bottom: 10px;  /* Memberikan jarak bawah antara input */
}

.inputContainer label {
    font-size: 16px;
    color: #34495e;
    font-weight: bold;
    width: 25%;  /* Lebar label */
    margin-right: 1px;  /* Jarak antara label dan input */
}

.inputContainer input {
    width: 100%;  /* Lebar input */
    padding: 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

/* Efek saat input dalam fokus */
.inputContainer input:focus {
    border-color: #3498db;
    outline: none; /* Menghilangkan outline */
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.saveButton, .cancelButton {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    font-weight: 600;
    text-align: center;
    min-width: 120px; /* Menambahkan lebar minimal untuk tombol */
}

/* Tombol Simpan */
.saveButton {
    background-color: #28a745;
    color: #fff;
}

.saveButton:hover {
    background-color: #218838;
}

/* Tombol Batal */
.cancelButton {
    background-color: transparent;
    border: 2px solid #e74c3c;
    color: #e74c3c;
}

.cancelButton:hover {
    background-color: #e74c3c;
    color: #fff;
}
